<p>user_id : <%= @user_id %></p>
<p>msg_id : <%= @msg_id %></p>
<p>title : <%= @msg[:title] %></p>
<% content = @msg[:content] %>
<p>content : <%= content %></p>
<p>timeSetSelect : <%= @msg[:timeSetSelect] %></p>
<p>beforeDate : <%= @msg[:beforeDate] %></p>
<p><%= @beforeDate %></p>
<p>beforeTime : <%= @msg[:beforeTime] %></p>
<p>afterTime : <%= @msg[:afterTime] %></p>
<p>afterTimeUnit : <%= @msg[:afterTimeUnit] %></p>
<p>now_Time : <%= @now_time %></p>
<p>dead_time : <%= @dead_time %></p>
