<span><%= @user['name'] %></span>
<img src="https://graph.facebook.com/<%= @user['id']%>/picture" height="36px" width="36px"/>
<p>msg : <%= @user_msg %></p>
<p>frient num : <%= @user_friend_db.count %></p>
<p>frient : <%= @user_friend_db %></p>